* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

@font-face {
  font-family: "montse";
  src: url(Montserrat-Regular.ttf);
}
.mynav.scrolled {
  background-color: rgb(20, 94, 69);
}

.mynav {
  position: sticky;
  top: 0;
  transition: background-color 0.3s ease-in-out;
  z-index: 1;
}

nav {
  height: 10vh;
  background-color: #2d3e50;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  gap: 190px;
  color: white;
}
nav a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
  font-family: "montse";
  transition: color 0.3s ease-in-out;
}
nav h3 {
  font-size: 20px;
  font-family: "montse";
}
nav .myhambmenu {
  display: none;
}
nav #mylinks {
  display: none;
}
nav .links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
}

.banner {
  background-color: #1bbc96;
  padding: 100px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner img {
  height: 30vh;
  width: 200px;
  padding-bottom: 20px;
}
.banner h1 {
  padding-bottom: 10px;
  font-size: 60px;
  font-family: "montse";
}

h2 {
  font-size: 24px;
  text-align: center;
  padding-top: 15px;
  font-family: "montse";
}

img {
  width: 400px;
  height: 40vh;
  padding: 10px;
}

#Portfolio .container {
  margin-bottom: 70px;
}
#Portfolio .container .row img {
  border-radius: 0.4cm;
}

.porticons {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#About {
  background-color: #1bbc96;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
#About a {
  border: 1px solid white;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 20px;
  font-family: "montse";
}
#About p {
  font-size: 18px;
  font-family: "montse";
  color: white;
  line-height: 30px;
  width: 350px;
  padding-bottom: 30px;
}
#About .col-md-6 {
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .icons {
  margin-bottom: 10px;
}

form {
  position: relative;
  margin-bottom: 80px;
}
form a {
  font-size: 18px;
  font-family: "montse";
  background-color: #1bbc96;
  width: 80px;
  height: 20px;
  border: 1px solid #1bbc96;
  border-radius: 3px 3px 3px 3px;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
}
form textarea {
  border: none;
  border-bottom: 1px solid rgba(207, 199, 199, 0.377);
  width: 800px;
  height: 25vh;
  margin-bottom: 15px;
  font-family: "montse";
}
form input {
  border: none;
  border-bottom: 1px solid rgba(207, 199, 199, 0.377);
  width: 800px;
  margin-bottom: 20px;
  font-family: "montse";
}

h4 {
  color: white;
  padding-bottom: 10px;
  font-family: "montse";
}

.foot {
  background-color: #2d3e50;
}
.foot .rw {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
}
.foot .col-md-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.foot .col-md-4 .icn {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}
.foot .col-md-4 i {
  width: 50px;
  height: 50px;
  margin-right: 8px;
  border: solid 1px;
  border-radius: 50%;
  border-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.foot .col-md-4 p {
  font-size: 18px;
  font-family: "montse";
  color: white;
  line-height: 30px;
  width: 300px;
  padding-bottom: 20px;
}
.foot .h33 {
  padding-top: 30px;
  font-family: "montse";
}
.foot .h55 {
  padding-top: 50px;
  font-family: "montse";
}
.foot span {
  color: #1bbc96;
}

.end {
  background-color: #222a33;
  display: flex;
  align-items: center;
  justify-content: center;
}
.end p {
  color: white;
  margin-top: 20px;
  font-size: 18px;
  font-family: "montse";
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 15px;
}

.line {
  width: 80px;
  border: 1px solid;
  margin-right: 5px;
  margin-left: 5px;
}

@media (max-width: 576px) {
  nav {
    height: 8vh;
    background-color: #2d3e50;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    gap: 20px;
    color: white;
  }
  nav #mylinks {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(34, 42, 51, 0.7450980392);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  nav a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
  }
  nav .hide {
    display: none;
  }
  nav .myhambmenu {
    display: flex;
    text-decoration: none;
  }
  nav h3 {
    font-size: 16px;
    margin-top: 10px;
  }
  .banner {
    background-color: #1bbc96;
    padding: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .banner img {
    height: 30vh;
    width: 200px;
    padding-bottom: 20px;
  }
  .banner h1 {
    font-size: 24px;
    padding-bottom: 20px;
  }
  .banner p {
    font-size: 14px;
  }
  img {
    width: 400px;
    height: 30vh;
    -o-object-fit: contain;
       object-fit: contain;
  }
  #Portfolio .container {
    margin-bottom: 70px;
  }
  .porticons {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #About {
    background-color: #1bbc96;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    color: white;
  }
  #About a {
    border: 1px solid white;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 20px;
  }
  #About .col-md-6 {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  #About p {
    font-size: 14px;
    width: 300px;
  }
  #About .row {
    margin-right: 0;
  }
  form {
    margin-bottom: 80px;
    margin-left: 20px;
  }
  form a {
    font-size: 20px;
    background-color: #1bbc96;
    width: 80px;
    height: 20px;
    border: 1px solid #1bbc96;
    border-radius: 3px 3px 3px 3px;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
  }
  form textarea {
    border: none;
    border-bottom: 1px solid rgba(207, 199, 199, 0.377);
    width: 300px;
    height: 25vh;
    margin-bottom: 15px;
  }
  form input {
    border: none;
    border-bottom: 1px solid rgba(207, 199, 199, 0.377);
    width: 300px;
    padding-bottom: 30px;
  }
  .porticons {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .foot {
    background-color: #2d3e50;
  }
  .foot .rw {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 40px;
  }
  .foot p {
    font-size: 14px;
  }
  .foot h4 {
    font-size: 18px;
    margin-bottom: 0;
  }
  .end p {
    margin-left: 0px;
    font-size: 14px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .banner p {
    font-size: 20px;
  }
  #Portfolio img {
    height: 20vh;
  }
  .col-md-6 {
    width: 750px;
  }
  .col-md-6 p {
    width: 300px;
    font-size: 20px;
  }
  form {
    margin-bottom: 80px;
    margin-left: 20px;
  }
  form a {
    font-size: 20px;
    background-color: #1bbc96;
    width: 80px;
    height: 20px;
    border: 1px solid #1bbc96;
    border-radius: 3px 3px 3px 3px;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
  }
  form textarea {
    border: none;
    border-bottom: 1px solid rgba(207, 199, 199, 0.377);
    width: 700px;
    height: 25vh;
    margin-bottom: 15px;
  }
  form input {
    border: none;
    border-bottom: 1px solid rgba(207, 199, 199, 0.377);
    width: 650px;
    padding-bottom: 30px;
  }
  .porticons {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .col-md-4 i {
    padding: 10px;
    margin-right: 5px;
    border: solid 1px;
    border-radius: 50%;
    border-color: white;
    justify-content: center;
    align-items: center;
  }
  .col-md-4 h4 {
    font-size: 22px;
  }
  .col-md-4 p {
    font-size: 20px;
  }
  .foot .rw {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  p {
    font-size: 20px;
  }
  nav a {
    font-size: 20px;
  }
  h1 {
    margin-top: 0;
    padding-top: 0;
  }
  .banner img {
    height: 30vh;
    width: 300px;
    margin-bottom: -20px;
    margin-top: -20px;
  }
  #Portfolio img {
    height: 20vh;
  }
  #about p {
    font-size: 20px;
  }
  form {
    margin-bottom: 80px;
    left: 5%;
  }
  form textarea {
    width: 700px;
    height: 20vh;
  }
  form input {
    width: 600px;
  }
  .porticons {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .foot .rw {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .foot .rw p {
    font-size: 20px;
  }
  .foot h4 {
    font-size: 22px;
  }
  .foot p {
    font-size: 20px;
  }
}/*# sourceMappingURL=syntaxe.css.map */